.app_solu{
  width: 100%;
}

.app_solu .app_solu_ban{
  width: 100%;
  display: block;
}

.app_solu .app_solu_ban img{
  width: 100%;
  display: block;
}

.app_solu_sec {
  width: 100%;
  padding: 0.93rem;
}

.app_solu_sec ul {
  width: 100%;
}

.app_solu_sec ul li {
  width: 49%;
  height: 5.94rem;
  float: left;
  border: 1px solid #e6e6e6;
  background: #fff;
  margin-bottom: 0.425rem;
}

.app_solu_sec ul li:nth-child(2n){
  float: right;
}

.app_solu_sec ul li:nth-child(1) img,.app_solu_sec ul li:nth-child(2) img{
  width: 1.8125rem;
  height: 1.8125rem;
  display: block;
  margin: 0 auto;
  margin-top: 1.156rem;
  margin-bottom: 0.8rem;
}

.app_solu_sec ul li:nth-child(3) img{
  width: 1.625rem;
  height: 1.875rem;
  display: block;
  margin: 0 auto;
  margin-top: 1.156rem;
  margin-bottom: 0.75rem;
}

.app_solu_sec ul li:nth-child(4) img{
  width: 1.967rem;
  height: 1.967rem;
  display: block;
  margin: 0 auto;
  margin-top: 1.156rem;
  margin-bottom: 0.65rem;
  opacity: 0.3;
}

.app_solu_sec ul li a span {
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 0.8125rem;
  display: block;
}

.app_solu_sec ul li:nth-child(4) span{
  opacity: 0.3;
}
