.teach_sec{
  width: 100%;
  margin-top: 80px;
}

.teach_sec .teach_ban{
  width: 100%;
}

.teach_sec .teach_ban img{
  width: 100%;
  display: block;
}

.teach_con1{
  width: 100%;
  padding-top: 70px;
  background: #fafafa;
  padding-bottom: 65px;
}

.teach_con1 h2{
  width: 100%;
  font-size: 23px;
  text-align: center;
  color: #000;
  font-weight: 100;
  margin-bottom: 50px;
}

.teach_con1 ul{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.teach_con1 ul li{
  display: inline-block;
  margin: 0 50px;
}

.teach_con1 ul li img{
  width: 70px;
  height: 70px;
  display: block;
}

.teach_con1 ul li span{
  display: block;
  font-size: 16px;
  color: #000;
  margin-top: 8px;
}

.teach_con2 h2{
  width: 100%;
  text-align: center;
  height: 167px;
  line-height: 167px;
  font-size: 23px;
  color: #000;
  font-weight: 100;
}

.teach_con2 ul{
  width: 1042px;
  margin: 0 auto;
}

.teach_con2 ul li{
  width: 490px;
  height: 400px;
  float: left;
  margin-right: 60px;
  margin-bottom: 65px;
  position: relative;
}

.teach_con2 ul li:nth-child(2n){
  margin-right: 0;
}

.teach_con2 ul li img{
  width: 100%;
  display: block;
  float: left;
}

.teach_con2 ul li span{
  display: block;
  float: left;
  width: 6px;
  height: 70px;
  background: #4d5d6d;
  margin: 30px 20px 0 0;
  /* position: absolute;
  bottom: 0; */
}

/* .teach_con2 ul li:nth-child(1) span,.teach_con2 ul li:nth-child(2) span{
  height: 70px;
} */

.teach_con2 ul li h3{
  width: 455px;
  margin-top: 30px;
  /* margin-left: 30px; */
  font-size: 18px;
  color: #000;
  float: left;
}

.teach_con2 ul li p{
  width: 455px;
  font-size: 14px;
  margin-top: 15px;
  line-height: 16px;
  float: left;
  /* position: absolute;
  bottom: 0;
  left: 30px; */
}

.teach_con3 {
  width: 100%;
  padding: 55px 0;
  background: #fbfbfb;
}

.teach_con3 .teach_con3_tit{
  width: 100%;
  text-align: center;
  font-size: 23px;
  font-weight: 100;
  margin-bottom: 60px;
}

.teach_con3 ul{
  width: 1200px;
  margin: 0 auto ;
}
.teach_con3 ul li{
  margin-left: 360px;
  margin-bottom: 17px;
}

.teach_con3 ul li .teach_li_tit{
  width: 95px;
  height: 35px;
  display: inline-block;
  line-height: 35px;
  background: #1989fb;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  margin-right: 25px;
}

.teach_con3 ul li p{
  display: inline-block;
}

.teach_con3 ul li span{
  height: 35px;
  line-height: 35px;
  display: inline-block;
  font-size: 14px;
  margin-right: 25px;
  color: #000;
}

.app_teach_ban{
  display: none;
}


@media (max-width:640px){
  .teach_sec {
    width: 100%;
    margin: 0;
  }

  .app_teach_ban{
    width: 100%;
    display: block;
  }

  .app_teach_ban img{
    width: 100%;
    display: block;
  }

  .teach_con1{
    padding: 2.4rem 0 1.8rem;
  }

  .teach_con1 h2{
    font-size: 1.25rem;
    margin-bottom: 1.8rem;
    font-weight: bold;
  }

  .teach_con1 ul{
    width: 100%;
  }

  .teach_con1 ul li{
    margin: 0 1.96rem;
  }

  .teach_con1 ul li img{
    width: 3.5rem;
    height: 3.5rem;
  }

  .teach_con1 ul li span{
    font-size: 0.875rem;
  }

  .teach_con2{
    width: 100%;
    background: #fff;
  }

  .teach_con2 h2 {
    width: 100%;
    height: 5.94rem;
    line-height: 5.94rem;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .teach_con2 ul{
    width: 100%;
    padding: 0 1.25rem;
  }

  .teach_con2 ul li{
    width: 100%;
    height: auto;
    float: none;
    margin-right: 0;
    margin-bottom: 2.3rem;
    overflow: hidden;
  }

  .teach_con2 ul li span{
    display: block;
    float: left;
    width: 2px;
    height: 70px;
    background: #4d5d6d;
    margin: 1.125rem 0.625rem 0 0;
  }

  .teach_con2 ul li h3{
    width: 19.68rem;
    margin-top: 0.9rem;
    font-size: 1.0625rem;
    font-weight: 100;
  }

  .teach_con2 ul li p{
    width: 19.68rem;
    font-size: 0.8125rem;
    margin-top: 0.3rem;
  }

  .teach_con3{
    width: 100%;
    background: #fafafa;
    padding: 0;
    padding-bottom: 2.6rem;
  }

  .teach_con3 .teach_con3_tit {
    width: 100%;
    height: 5.94rem;
    line-height: 5.94rem;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0;
  }

  .teach_con3 ul{
    width: 100%;
    padding: 0 1.25rem;
  }

  .teach_con3 ul li{
    margin: 0;
    margin-bottom: 1.875rem;
    overflow: hidden;
  }

  .teach_con3 ul li .teach_li_tit{
    width: 4.68rem;
    height: 1.875rem;
    line-height: 1.875rem;
    font-size: 0.875rem;
    border-radius: 2px;
    float: left;
  }

  .teach_con3 ul li p{
    width: 68%;
    display: inline-block;
    float: left;
  }

  .teach_con3 ul li span{
    margin-right: 1.25rem;
    height: 1.875rem;
    line-height: 1.875rem;
  }
}


/**/
